<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>Productum</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="../static/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../static/plugins/prism/prism.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="../static/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll">

<!---//Facebook button code-->
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- ******HEADER****** -->
<header id="header" class="header">
    <div class="container">
        <h1 class="logo pull-left">
            <a class="scrollto" href="#promo">
                <span class="logo-title">Productum</span>
            </a>
        </h1><!--//logo-->
        <nav id="main-nav" class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Главная</a></li>
                    <li class="nav-item"><a class="scrollto" href="#about">О приложении</a></li>
                    <li class="nav-item last"><a class="scrollto" href="#contact">Разработчики</a></li>
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
    </div>
</header><!--//header-->

<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
    <div class="container text-center">
        <h2 class="title">Produc<span class="highlight">tum</span></h2>
        <p class="intro">Приложение для распознавания состава продуктов</p>
        <div class="btns">
            <a class="btn btn-cta-secondary" href="/work" target="_blank">Demo</a>

        </div>

    </div><!--//container-->

</section><!--//promo-->

<!-- ******ABOUT****** -->
<section id="about" class="about section">
    <div class="container">
        <h2 class="title text-center">Что такое Productum?</h2>
        <p class="intro text-center">Productum - программа, которая распознает состав продукта и выявляет вредные
            добавки и аллергены.</p>
        <div class="row">
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-heart"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Здоровое питание</h3>
                    <p>Приложение может выявлять вредные для организма добавки</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Экономия времени</h3>
                    <p>Приложение позволяет не тратить время на запоминание вредных добавок и чтение состава
                        продукта </p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-crosshairs"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Программа подстраивается под ваши аллергии</h3>
                    <p>Пользователь может сам выбрать какие продукты он не может употреблять в пищу</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="clearfix visible-md"></div>
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-tablet"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Мобильность</h3>
                    <p>Приложение запускается на всех устройствах, где есть браузер</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-code"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Бесплатность</h3>
                    <p>Приложение распространяется полностью бесплатно</p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-coffee"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Простота</h3>
                    <p>Приложение берет всю работу на себя</p>
                </div><!--//content-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//about-->


<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern">
    <div class="container">
        <div class="contact-inner">
            <h2 class="title  text-center">Разработчики</h2>
            <p class="intro  text-center">Команда создателей приложения</p>
            <div class="author-message">
                <div class="profile">
                    <img class="img-responsive" src="../static/images/profile.png" alt=""/>
                </div><!--//profile-->
                <div class="speech-bubble">
                    <h3 class="sub-title">Проект разработан Степановым Семеном и Яшиным Ярославом</h3>

                    <p>Для связи и предложений по улучшению проекта можно использовать GitHub <a>https://github.com/Yarik-Yashin</a>
                    </p>
                    <p>Или VK :</p>
                    <p> Ярослав - <a>https://vk.com/groundbeatle</a> </p>
                    <p>Семен - <a>https://vk.com/s3pt1l3</a></p>


                </div><!--//speech-bubble-->
            </div><!--//author-message-->
            <div class="clearfix"></div>
            <div class="info text-center">

        </div><!--//contact-inner-->
    </div><!--//container-->
</section><!--//contact-->



<!-- Javascript -->
<script type="text/javascript" src="../static/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../static/plugins/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="../static/plugins/prism/prism.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html> 

